####################################
# Eclipse 설정 파일 무시
####################################
.classpath
.project
.settings/

####################################
# 빌드/배포 산출물 무시
####################################
/build/
/target/

####################################
# Nexacro 배포 결과물 무시 (Deploy 폴더)
####################################
/WebContent/nexacro-deploy/

####################################
# Nexacro 자동 생성 임시파일/백업파일 무시
####################################
*.geninfo
*.xfdl$
*.xadl$
*$*         # 예: $frmAll.xfdl$
*_cmdfile   # 예: ttemp_cmdfile
$temporary$/
nexacro/**/$temporary$/

####################################
# OS / 에디터 관련 불필요 파일
####################################
.DS_Store
Thumbs.db
.vscode/
*.log
*.bak